* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.c7013 {
    padding: 10px;
    font-weight: 900;
    font-family: Brush Script MT, sans-serif;
    font-size: 100px;
    color: #c1b7b7;
    text-align: center;
    border-radius: 0 45px 0 0;
}

.c {
    font-size: 30px;
    font-family: Brush Script MT, sans-serif;
    color: #bfb3b3;
}

header {
    background-color: rgb(255, 255, 255);
}

header .navbar-nav a.nav-link {
    color: rgb(119, 119, 119);
}

header .navbar-nav a.nav-link:hover {
    color: rgb(82, 139, 255);
}

header .navbar-nav .active a.nav-link {
    color: rgb(68, 68, 68);
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header.bg-dark .navbar-nav a.nav-link {
    color: rgb(220, 220, 220);
}

header.bg-dark .navbar-nav a.nav-link:hover {
    color: rgb(82, 139, 255);
}

header.bg-dark .navbar-nav .active a.nav-link {
    color: rgb(255, 255, 255);
}

header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header + header {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
}

.footer-1 {
    margin-top: 60px;
    background-color: rgb(34, 34, 34);
    font-weight: 800;
    text-align: center;
}

.footer-1 .media-container-row {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    color: rgb(122, 122, 122);
}

.footer-1 a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.align-center {
    text-align: center;
}

.footer-1 .mbr-text {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}